# Raw Data Ingestion

This workshop will use data from the City of Chicago Open Data Portal: <https://data.cityofchicago.org>. The following datasets will be used:

1. Business license data: <https://data.cityofchicago.org/Community-Economic-Development/Business-Licenses/r5kz-chrr>
2. Food inspections: <https://data.cityofchicago.org/Health-Human-Services/Food-Inspections/4ijn-s7e5>

## Setup

In [1]:
import os
from urllib.parse import urlencode

import pandas as pd
from sqlalchemy import create_engine

In [2]:
# General settings
max_rows_from_data_portal = 5_000_000

# Jupyter / Pandas settings
pd.options.display.max_columns = 999

In [3]:
# Set up postgresql connection
db_user = "posit"
db_password = os.environ["CONF23_DB_PASSWORD"]
db_host = os.environ["CONF23_DB_HOST"]
db_port = 5432
db_database = "python_workshop"
engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}/{db_database}")

## Data set (1): Business License Data

<https://data.cityofchicago.org/Community-Economic-Development/Business-Licenses/r5kz-chrr>

**Step 1:** Gew the raw data from the data portal

In [4]:
base_url = "https://data.cityofchicago.org/resource/r5kz-chrr.csv"
params = {"$order": "id", "$limit": max_rows_from_data_portal}
url = f"{base_url}?{urlencode(params)}"
url

'https://data.cityofchicago.org/resource/r5kz-chrr.csv?%24order=id&%24limit=5000000'

In [5]:
# Read everything as a string so that the formatting is preserved. We will use 
# pandera later to convert everything to the correct type.
business_license_data = pd.read_csv(url, dtype=str)
business_license_data

,id,license_id,account_number,site_number,legal_name,doing_business_as_name,address,city,state,zip_code,ward,precinct,ward_precinct,police_district,license_code,license_description,business_activity_id,business_activity,license_number,application_type,application_created_date,application_requirements_complete,payment_date,conditional_approval,license_start_date,expiration_date,license_approved_for_issuance,date_issued,license_status,license_status_change_date,ssa,latitude,longitude,location
0,1000000-20020221,1000000,200001,1,MARK BOSTON,COLORS IN MOTION,6421 N DAMEN AVE,CHICAGO,IL,60645,50,28,50-28,24,1011,Home Repair,NaN,NaN,1000000,ISSUE,2000-06-19T00:00:00.000,2002-02-15T00:00:00.000,2002-02-15T00:00:00.000,N,2002-02-21T00:00:00.000,2002-11-15T00:00:00.000,2002-02-21T00:00:00.000,2002-02-22T00:00:00.000,AAI,NaN,NaN,41.998514371,-87.680010905,"\n, \n(41.99851437112669, -87.68001090539342)"
1,1000049-20010816,1162772,200068,1,ANTONIA CASTREJON,ILLUSIONS HAIR DESIGN,3800 W DIVERSEY AVE,CHICAGO,IL,60647,31,999,31-999,25,1010,Limited Business License,NaN,NaN,1000049,RENEW,NaN,2001-06-25T00:00:00.000,2001-08-20T00:00:00.000,N,2001-08-16T00:00:00.000,2002-08-15T00:00:00.000,2001-08-20T00:00:00.000,2002-04-30T00:00:00.000,AAI,NaN,NaN,41.931960333,-87.722150366,"\n, \n(41.931960332638006, -87.72215036594574)"
2,1000049-20020516,1233615,10141,2,"PEPE""S RETAIL MEATS, INC.",PEREZ MEXICAN FOOD,853-855 W RANDOLPH ST 1ST,CHICAGO,IL,60607,27,1,27-1,12,1006,Retail Food Establishment,775,Retail Sales of Perishable Foods,1000049,RENEW,NaN,2002-03-27T00:00:00.000,2002-04-17T00:00:00.000,N,2002-05-16T00:00:00.000,2003-05-15T00:00:00.000,2002-04-17T00:00:00.000,2002-04-18T00:00:00.000,AAI,NaN,NaN,41.884261422,-87.649534131,"\n, \n(41.88426142200001, -87.6495341312589)"
3,1000049-20020816,1265665,200068,1,ANTONIA CASTREJON,ILLUSIONS HAIR DESIGN,3800 W DIVERSEY AVE,CHICAGO,IL,60647,31,999,31-999,25,1010,Limited Business License,NaN,NaN,1000049,RENEW,NaN,2002-06-28T00:00:00.000,2002-08-13T00:00:00.000,N,2002-08-16T00:00:00.000,2003-08-15T00:00:00.000,2002-08-13T00:00:00.000,2002-08-14T00:00:00.000,AAI,NaN,NaN,41.931960333,-87.722150366,"\n, \n(41.931960332638006, -87.72215036594574)"
4,1000049-20030516,1342680,10141,2,"PEPE""S RETAIL MEATS, INC.",PEREZ MEXICAN FOOD,853-855 W RANDOLPH ST 1ST,CHICAGO,IL,60607,27,1,27-1,12,1006,Retail Food Establishment,775,Retail Sales of Perishable Foods,1000049,RENEW,NaN,2003-03-25T00:00:00.000,2003-04-17T00:00:00.000,N,2003-05-16T00:00:00.000,2004-05-15T00:00:00.000,2003-04-17T00:00:00.000,2003-04-18T00:00:00.000,AAI,NaN,NaN,41.884261422,-87.649534131,"\n, \n(41.88426142200001, -87.6495341312589)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104878,9999-20140916,2343163,26256,1,CHURCH & CHAPEL METAL ARTS INC,CHURCH & CHAPEL METAL ARTS INC,2616 W GRAND AVE 1ST,CHICAGO,IL,60612,36,17,36-17,12,1010,Limited Business License,NaN,NaN,9999,RENEW,NaN,2014-07-15T00:00:00.000,2014-12-26T00:00:00.000,N,2014-09-16T00:00:00.000,2016-09-15T00:00:00.000,2014-12-26T00:00:00.000,2014-12-29T00:00:00.000,AAI,NaN,NaN,41.892720807,-87.692331754,"\n, \n(41.89272080716665, -87.69233175444906)"
1104879,9999-20160916,2478055,26256,1,CHURCH & CHAPEL METAL ARTS INC,CHURCH & CHAPEL METAL ARTS INC,2616 W GRAND AVE 1ST,CHICAGO,IL,60612,36,17,36-17,12,1010,Limited Business License,NaN,NaN,9999,RENEW,NaN,2016-07-15T00:00:00.000,2016-09-08T00:00:00.000,N,2016-09-16T00:00:00.000,2018-09-15T00:00:00.000,2016-09-08T00:00:00.000,2016-09-09T00:00:00.000,AAI,NaN,NaN,41.892720807,-87.692331754,"\n, \n(41.89272080716665, -87.69233175444906)"
1104880,9999-20180916,2610578,26256,1,CHURCH & CHAPEL METAL ARTS INC,CHURCH & CHAPEL METAL ARTS INC,2616 W GRAND AVE 1ST,CHICAGO,IL,60612,36,17,36-17,12,1010,Limited Business License,NaN,NaN,9999,RENEW,NaN,2018-07-15T00:00:00.000,2018-09-10T00:00:00.000,N,2018-09-16T00:00:00.000,2020-09-15T00:00:00.000,2018-09-10T00:00:00.000,2018-09-11T00:00:00.000,AAI,NaN,NaN,41.892720807,-87.692331754,"\n, \n(41.89272080716665, -87.69233175444906)"
1104881,9999-20200916,2739432,26256,1,CHURCH & CHAPEL METAL ARTS INC,CHURCH & CHAPEL METAL ARTS INC,2616 W GRAND AVE 1ST,CHICAGO,IL,60612,36,17,36-17,12,1010,Limited Business License,NaN,NaN,9999,RENEW,NaN,2020-07-15T00:00:00.000,2020-08-05T00:00:00.000,N,2020-09-16T00:00:00.000,2022-09-15T00:00:00.000,2020-08-05T00:00:00.000,2020-08-06T00:00:00.000,AAI,NaN,NaN,41.892720807,-87.692331754,"\n, \n(41.89272080716665, -87.69233175444906)"
1104882,9999-20220916,2858021,26256,1,CHURCH & CHAPEL METAL ARTS INC,CHURCH & CHAPEL METAL ARTS INC,2616 W GRAND AVE 1ST,CHICAGO,IL,60612,36,17,36-17,12,1010,Limited Business License,NaN,NaN,9999,RENEW,NaN,2022-07-15T00:00:00.000,2022-08-08T00:00:00.000,N,2022-09-16T00:00:00.000,2024-09-15T00:00:00.000,2022-08-08T00:00:00.000,2022-09-13T00:00:00.000,AAI,NaN,NaN,41.892720807,-87.692331754,"\n, \n(41.89272080716665, -87.69233175444906)"

**Step 2:** Save data to Postgres

In [6]:
# Insert the data into postgres. Inserting large amounts of data can be slow, so
# iterate over 10,000 rows at a time.

n_rows = business_license_data.shape[0]
step_size = 10_000

for i in range(0, n_rows, step_size):
    index_start = i
    index_end = min(n_rows, i + step_size - 1)
    
    if i == 0:
        if_exists = "replace"
    else:
        if_exists = "append"

    print(f"Inserting rows: {index_start:,} - {index_end:,}")
    
    business_license_data \
        .loc[index_start:index_end, :] \
        .to_sql("business_license_raw", engine, if_exists=if_exists, index=False)

Inserting rows: 0 - 9,999
Inserting rows: 10,000 - 19,999
Inserting rows: 20,000 - 29,999
Inserting rows: 30,000 - 39,999
Inserting rows: 40,000 - 49,999
Inserting rows: 50,000 - 59,999
Inserting rows: 60,000 - 69,999
Inserting rows: 70,000 - 79,999
Inserting rows: 80,000 - 89,999
Inserting rows: 90,000 - 99,999
Inserting rows: 100,000 - 109,999
Inserting rows: 110,000 - 119,999
Inserting rows: 120,000 - 129,999
Inserting rows: 130,000 - 139,999
Inserting rows: 140,000 - 149,999
Inserting rows: 150,000 - 159,999
Inserting rows: 160,000 - 169,999
Inserting rows: 170,000 - 179,999
Inserting rows: 180,000 - 189,999
Inserting rows: 190,000 - 199,999
Inserting rows: 200,000 - 209,999
Inserting rows: 210,000 - 219,999
Inserting rows: 220,000 - 229,999
Inserting rows: 230,000 - 239,999
Inserting rows: 240,000 - 249,999
Inserting rows: 250,000 - 259,999
Inserting rows: 260,000 - 269,999
Inserting rows: 270,000 - 279,999
Inserting rows: 280,000 - 289,999
Inserting rows: 290,000 - 299,999
Inserting rows: 300,000 - 309,999
Inserting rows: 310,000 - 319,999
Inserting rows: 320,000 - 329,999
Inserting rows: 330,000 - 339,999
Inserting rows: 340,000 - 349,999
Inserting rows: 350,000 - 359,999
Inserting rows: 360,000 - 369,999
Inserting rows: 370,000 - 379,999
Inserting rows: 380,000 - 389,999
Inserting rows: 390,000 - 399,999
Inserting rows: 400,000 - 409,999
Inserting rows: 410,000 - 419,999
Inserting rows: 420,000 - 429,999
Inserting rows: 430,000 - 439,999
Inserting rows: 440,000 - 449,999
Inserting rows: 450,000 - 459,999
Inserting rows: 460,000 - 469,999
Inserting rows: 470,000 - 479,999
Inserting rows: 480,000 - 489,999
Inserting rows: 490,000 - 499,999
Inserting rows: 500,000 - 509,999
Inserting rows: 510,000 - 519,999
Inserting rows: 520,000 - 529,999
Inserting rows: 530,000 - 539,999
Inserting rows: 540,000 - 549,999
Inserting rows: 550,000 - 559,999
Inserting rows: 560,000 - 569,999
Inserting rows: 570,000 - 579,999
Inserting rows: 580,000 - 589,999
Inserting rows: 590,000 - 599,999
Inserting rows: 600,000 - 609,999
Inserting rows: 610,000 - 619,999
Inserting rows: 620,000 - 629,999
Inserting rows: 630,000 - 639,999
Inserting rows: 640,000 - 649,999
Inserting rows: 650,000 - 659,999
Inserting rows: 660,000 - 669,999
Inserting rows: 670,000 - 679,999
Inserting rows: 680,000 - 689,999
Inserting rows: 690,000 - 699,999
Inserting rows: 700,000 - 709,999
Inserting rows: 710,000 - 719,999
Inserting rows: 720,000 - 729,999
Inserting rows: 730,000 - 739,999
Inserting rows: 740,000 - 749,999
Inserting rows: 750,000 - 759,999
Inserting rows: 760,000 - 769,999
Inserting rows: 770,000 - 779,999
Inserting rows: 780,000 - 789,999
Inserting rows: 790,000 - 799,999
Inserting rows: 800,000 - 809,999
Inserting rows: 810,000 - 819,999
Inserting rows: 820,000 - 829,999
Inserting rows: 830,000 - 839,999
Inserting rows: 840,000 - 849,999
Inserting rows: 850,000 - 859,999
Inserting rows: 860,000 - 869,999
Inserting rows: 870,000 - 879,999
Inserting rows: 880,000 - 889,999
Inserting rows: 890,000 - 899,999
Inserting rows: 900,000 - 909,999
Inserting rows: 910,000 - 919,999
Inserting rows: 920,000 - 929,999
Inserting rows: 930,000 - 939,999
Inserting rows: 940,000 - 949,999
Inserting rows: 950,000 - 959,999
Inserting rows: 960,000 - 969,999
Inserting rows: 970,000 - 979,999
Inserting rows: 980,000 - 989,999
Inserting rows: 990,000 - 999,999
Inserting rows: 1,000,000 - 1,009,999
Inserting rows: 1,010,000 - 1,019,999
Inserting rows: 1,020,000 - 1,029,999
Inserting rows: 1,030,000 - 1,039,999
Inserting rows: 1,040,000 - 1,049,999
Inserting rows: 1,050,000 - 1,059,999
Inserting rows: 1,060,000 - 1,069,999
Inserting rows: 1,070,000 - 1,079,999
Inserting rows: 1,080,000 - 1,089,999
Inserting rows: 1,090,000 - 1,099,999
Inserting rows: 1,100,000 - 1,104,883

In [7]:
# Confirm number of rows
pd.read_sql_query("SELECT COUNT(*) FROM business_license_raw", engine)

     count
0  1104883

## Data set (2): Food inspections

<https://data.cityofchicago.org/Health-Human-Services/Food-Inspections/4ijn-s7e5>

**Step 1:** Gew the raw data from the data portal

In [8]:
base_url = "https://data.cityofchicago.org/resource/4ijn-s7e5.csv"
params = {"$order": "inspection_date", "$limit": max_rows_from_data_portal}
url = f"{base_url}?{urlencode(params)}"
url

'https://data.cityofchicago.org/resource/4ijn-s7e5.csv?%24order=inspection_date&%24limit=5000000'

In [9]:
# Read everything as a string so that the formatting is preserved. We will use 
# pandera later to convert everything to the correct type.
food_inspection_data = pd.read_csv(url, dtype=str)
food_inspection_data

,inspection_id,dba_name,aka_name,license_,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,violations,latitude,longitude,location
0,67733,WOLCOTT'S,TROQUET,1992040,Restaurant,Risk 1 (High),1834 W MONTROSE AVE,CHICAGO,IL,60613,2010-01-04T00:00:00.000,License Re-Inspection,Pass,NaN,41.961605669949854,-87.67596676683779,"(41.961605669949854, -87.67596676683779)"
1,67732,WOLCOTT'S,TROQUET,1992039,Restaurant,Risk 1 (High),1834 W MONTROSE AVE,CHICAGO,IL,60613,2010-01-04T00:00:00.000,License Re-Inspection,Pass,NaN,41.961605669949854,-87.67596676683779,"(41.961605669949854, -87.67596676683779)"
2,67738,MICHAEL'S ON MAIN CAFE,MICHAEL'S ON MAIN CAFE,2008948,Restaurant,Risk 1 (High),8750 W BRYN WAWR AVE,CHICAGO,IL,60631,2010-01-04T00:00:00.000,License,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,NaN,NaN,NaN
3,67757,DUNKIN DONUTS/BASKIN-ROBBINS,DUNKIN DONUTS/BASKIN-ROBBINS,1380279,Restaurant,Risk 2 (Medium),100 W RANDOLPH ST,CHICAGO,IL,60601,2010-01-04T00:00:00.000,Tag Removal,Pass,NaN,41.88458626715456,-87.63101044588599,"(41.88458626715456, -87.63101044588599)"
4,52234,Cafe 608,Cafe 608,2013328,Restaurant,Risk 1 (High),608 W BARRY AVE,CHICAGO,IL,60657,2010-01-04T00:00:00.000,License Re-Inspection,Pass,NaN,41.938006880423615,-87.6447545707008,"(41.938006880423615, -87.6447545707008)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256207,2578135,LITTLE HANDS LEARNING CENTER ACADEMY,LITTLE HANDS LEARNING CENTER ACADEMY,2831108,Children's Services Facility,Risk 1 (High),10126 S WESTERN AVE,CHICAGO,IL,60643,2023-06-30T00:00:00.000,Canvass,Pass,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.70921709772374,-87.68185356852545,"(41.70921709772374, -87.68185356852545)"
256208,2578122,7-Eleven,7-Eleven,21286,Grocery Store,Risk 2 (Medium),6057 S KEDZIE AVE,CHICAGO,IL,60629,2023-06-30T00:00:00.000,Complaint,Fail,"1. PERSON IN CHARGE PRESENT, DEMONSTRATES KNOW...",41.78275257014254,-87.70310188982967,"(41.78275257014254, -87.70310188982967)"
256209,2578132,"HAUTE BRATS, LLC",HAUTE BRATS,2841458,Restaurant,Risk 2 (Medium),6239 S ASHLAND AVE,CHICAGO,IL,60636,2023-06-30T00:00:00.000,Complaint,No Entry,NaN,41.78012575548844,-87.66409001096028,"(41.78012575548844, -87.66409001096028)"
256210,2578116,WEST CHICAGO FUEL,WEST CHICAGO FUEL,2891134,Grocery Store,Risk 3 (Low),10 N KILBOURN AVE,CHICAGO,IL,60624,2023-06-30T00:00:00.000,License,Pass,49. NON-FOOD/FOOD CONTACT SURFACES CLEAN - Com...,41.880908954758716,-87.73808517343443,"(41.880908954758716, -87.73808517343443)"
256211,2578130,ELMOUINE1122 CORP.,ELMOUINE1122 CORP.,2896472,Grocery Store,Risk 1 (High),3857-3859 W MADISON,CHICAGO,IL,60624,2023-06-30T00:00:00.000,License Re-Inspection,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,41.8806501624938,-87.7230471534104,"(41.8806501624938, -87.7230471534104)"

**Step 2:** Save to data to Postgres

In [10]:
# Insert the data into postgres. Inserting large amounts of data can be slow, so
# iterate over 10,000 rows at a time.

n_rows = food_inspection_data.shape[0]
step_size = 10_000

for i in range(0, n_rows, step_size):
    index_start = i
    index_end = min(n_rows, i + step_size - 1)
    
    if i == 0:
        if_exists = "replace"
    else:
        if_exists = "append"

    print(f"Inserting rows: {index_start:,} - {index_end:,}")

    food_inspection_data \
        .loc[index_start:index_end, :] \
        .to_sql("food_inspection_raw", engine, if_exists=if_exists, index=False)

Inserting rows: 0 - 9,999
Inserting rows: 10,000 - 19,999
Inserting rows: 20,000 - 29,999
Inserting rows: 30,000 - 39,999
Inserting rows: 40,000 - 49,999
Inserting rows: 50,000 - 59,999
Inserting rows: 60,000 - 69,999
Inserting rows: 70,000 - 79,999
Inserting rows: 80,000 - 89,999
Inserting rows: 90,000 - 99,999
Inserting rows: 100,000 - 109,999
Inserting rows: 110,000 - 119,999
Inserting rows: 120,000 - 129,999
Inserting rows: 130,000 - 139,999
Inserting rows: 140,000 - 149,999
Inserting rows: 150,000 - 159,999
Inserting rows: 160,000 - 169,999
Inserting rows: 170,000 - 179,999
Inserting rows: 180,000 - 189,999
Inserting rows: 190,000 - 199,999
Inserting rows: 200,000 - 209,999
Inserting rows: 210,000 - 219,999
Inserting rows: 220,000 - 229,999
Inserting rows: 230,000 - 239,999
Inserting rows: 240,000 - 249,999
Inserting rows: 250,000 - 256,212

In [11]:
# Confirm number of rows
pd.read_sql_query("SELECT COUNT(*) FROM food_inspection_raw", engine)

    count
0  256212